{% extends "home_nav.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  {% with message = get_flashed_messages(category_filter=["success"]) %}
        {% if message %}
        <div class="alert alert-success">
              {{message[0]}}
        </div>
        {% endif %}
  {% endwith %}
  {% with message = get_flashed_messages(category_filter=["error"]) %}
      {% if message %}
          <div class="alert alert-danger">
              {{message[0]}}
          </div>
      {% endif %}
  {% endwith %}
  {% with message = get_flashed_messages(category_filter=["info"]) %}
      {% if message %}
          <div class="alert alert-info">
              {{message[0]}}
          </div>
      {% endif %}
  {% endwith %}
  {% set count = namespace(value=0) %}
  {% for i in current_user.locations %}
    {% if count.value != 0 %}
      <div class="card" style="width: 18rem; border:transparent 5% solid;">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{i.address}}</h6>
          <p class="card-text">{{i.description}}</p>
          <a href="/locations/{{i.name}}" class="btn btn-primary">View</a>
        </div>
      </div>
    {% endif %}
    {% set count.value = count.value + 1 %}
  {% endfor %}
{% endblock %}