{% extends "layout/index_nav.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
  <center>
    <br>
    <br>
    <form action="/users" method="post" style="width:30%; border-radius: 25px; border: solid 4px #5A4FCF; padding: 20px">
        <h2 style="font-family: sans-serif;">Signup</h2>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" required aria-label="Username" aria-describedby="basic-addon1" name="username" id="username">
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" required aria-label="First name" name="firstname" id="firstname">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" required aria-label="Last name" name="lastname" id="lastname">
            </div>
          </div>
          <br>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" required aria-label="Email" name="email" id="email">
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" required aria-label="Password" name="password" id="password" minlength="8">
          </div>                  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
    </form>
  </center>
{% endblock %}